<div class="home">
  <div class="block" id="home">
  <p class="column is-centered is-size-4">Welcome to the Travel Trackers application, where you can save all your past travel destinations on one interactive map!</p>
  {{#if logged_in}}
  <a href="/profile"><button class="button is-medium" id="login">Profile</button></a>
  <a ><button class="button is-medium" id="logout">Logout</button></a>  {{! id="logout" needed for accessing logout function in login.js}}
  {{else}}
  <a href="/login"><button class="button is-medium">Login</button></a>
  <a href="/login"><button class="button is-medium">Sign Up</button></a>
  {{/if}}
  </div>
  <div>
    <img src="/img/gettyimages.jpg" width="100%" height="70%"/>
  </div>
 


  <script src="./js/login.js"></script>
</div>