<div class="home">
  <div class="block">
  <p class="is-size-4">Welcome to the Travel Trackers application, where you can save your past travel destinations and keep track of
    future travel plans - all on one interactive map!</p>
  </div>
  {{#if logged_in}}
  <a href="/profile"><button class="button is-medium">Profile</button></a>
  <a href="/api/logout"><button class="button is-medium">Logout</button></a>
  {{else}}
  <a href="/login"><button class="button is-medium">Login</button></a>
  <a href="/login"><button class="button is-medium">Sign Up</button></a>
  {{/if}}
  <div class="is-full">
    <img src="/img/gettyimages.jpg" width="100%" height="90%" class="is-align-items-center"/>

  </div>
 


  <script src="./js/login.js"></script>
</div>