<div class="columns is-multiline">
  
  <div class="login-form">
    <h2 class="login column is-size-2">Login</h2>

    <form class=" column form login-form">
      <div class="form-group">
        {{!-- <label class="is-size-4" for="email-login">Email:</label> --}}
        <input class="input is-medium form-input" type="email" placeholder="Email" id="email-login" />
        
      </div>
      <div class="form-group">
        {{!-- <label class="is-size-4" for="password-login">Password:</label> --}}
        <input class="input is-medium form-input" type="password" placeholder="Password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn login-btn btn-primary button is-success is-medium is-rounded is-focused" type="submit">Login</button>
      </div>
    </form>
  </div>
  
    <div class="flex">
    <div class="signup-form">
    <h2 class="column is-size-2">Sign Up</h2>

    <form class="column form signup-form">
      <div class="form-group">
        {{!-- <label class="is-size-4" for="name-signup">Name:</label> --}}
        <input class="input is-medium form-input" type="text" placeholder="Name" id="name-signup" />
      </div>
      <div class="form-group">
        {{!-- <label class="is-size-4" for="email-signup">Email:</label> --}}
        <input class="input is-medium form-input" type="email" placeholder="Email" id="email-signup" />
          
      </div>
      <div class="form-group">
        {{!-- <label class="is-size-4" for="password-signup">Password:</label> --}}
        <input class="input is-medium form-input" type="password" placeholder="Password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn signup-btn btn-primary button is-success is-medium is-rounded is-focused" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
  </div>
  {{!-- <figure class="column is-full">
    <img class="is-rounded" src="/img/gettyimages.jpg"/>
  </figure> --}}
  </div>

<script src="./js/login.js"></script>
