<link rel="stylesheet" href="/css/test.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<div class="profile-header is-size-3">
  <p>{{name}}'s Personal Travel Map!<p>
</div>
<div class="flexContainer">
  

<div>



<div class="row mt-4">
  <div>
    <h3 class="search is-size-5">Search for a Location:</h3>

    <form class="form new-location-form">
      <div class="form-group">
        <label for="location-name"></label>
        <input class="search-input" type="text" id="location-name" name="location-name" />
      </div>
      <div class="form-group">
      </div>

      <button id="search-button" type="search" class="btn btn-primary">Search</button>

  </div>
  </form>
</div>

{{!-- {{#if location.length}} --}}
<div class="col-md-6 location-list">
  {{!-- <p>Current Cities:</p> --}}

  {{#each locations as |location|}}
  <div class="locations row mb-2">
    <div class="col-md-8">
      <h4><a href="/location/{{location.id}}">{{location.city}}</a></h4>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{location.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{!-- {{/if}} --}}
</div>
<div id="myMap"></div>


  </div>
<div>
  <a ><button class="button is-small" id="profile-logout">Logout</button></a>
</div>

<script src="./js/profile.js"></script>