<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Enter a new location:</h3>

    <form class="form new-location-form">
      <div class="form-group">
        <label for="location-name">location name:</label>
        <input class="form-input" type="text" id="location-name" name="location-name" />
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="location-desc">description:</label>
        <textarea class="form-input" id="location-desc" name="location-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if location.length}}
  <div class="col-md-6 location-list">
    <h3>Current Projects:</h3>

    {{#each locations as |location|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/location/{{location.id}}">{{location.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{location.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
